---
const { t, theme } = Astro.props;
import { Image } from "astro:assets";
import aes from "../assets/aes.png";
import logo from "../assets/logo.webp";
import { themes } from "../utils/themes";
import skins from "../assets/skins.png";
/*
const response = await fetch(
  "https://liberapay.com/aes_minetest_server/public.json",
);

const data = await response.json();

const amount = data.receiving.amount;
*/
const amount = 0.32;
---

<div class="my-8 mx-2">
  <div class="my-8">
    <div class="leading-relaxed">
      <span class="flex">
        <p class="font-dogicapixelbold">Arcade Emulation System</p>
        <p class="mx-1 mr-2">-</p>
        <div class="">
          {
            /* Rainbow version
          <div class="animate-rainbow">
          <p
            class="whitespace-nowrap font-extrabold bg-gradient-to-tr from-cyan-100 to-pink-700 bg-[length:200vw_200vw] bg-clip-text fill-transparent"
          >
            minetest.aes.land
          </p>
          </div>
          */
          }
          <p class="font-extrabold">minetest.aes.land</p>
        </div>
      </span>
    </div>
  </div>
  <div class="my-8">
    <div class="mb-4">
      <figure class="-mx-5">
        <Image
          src={aes}
          alt={t("content.lobby-alt")}
          class="border-none max-w-full mx-auto"
        />
      </figure>
      <figcaption class="my-2 text-xs italic text-center cursor-auto">
        <div class="leading-relaxed">
          <span>{t("content.lobby-alt")}</span>
        </div>
      </figcaption>
    </div>
    <div class="my-4 mx-0 text-2xl font-bold">
      <span>{t("content.features")}</span>
    </div>
    <div class="my-4">
      <article class="leading-relaxed">
        <ol class="pl-5">
          <li class="list-decimal">
            <strong class="font-dogicapixelbold text-base"
              >{t("content.ui-bold")}</strong
            >{t("content.ui")}
          </li>
          <li class="list-decimal mt-4">
            <strong class="font-dogicapixelbold text-base"
              >{t("content.minigames-bold")}</strong
            >{t("content.minigames")}
          </li>
          <li class="list-decimal mt-4">
            <strong class="font-dogicapixelbold text-base"
              >{t("content.skins-bold")}</strong
            >{t("content.skins")}
          </li>
          <li class="list-decimal mt-4">
            <strong class="font-dogicapixelbold text-base"
              >{t("content.parties-bold")}</strong
            >
            {t("content.parties")}
          </li>
        </ol>
        <figure class="mt-4">
          <Image
            src={skins}
            alt={t("content.skins-alt")}
            class="border-none max-w-full mx-auto"
          />
        </figure>
        <figcaption class="my-2 text-xs italic text-center cursor-auto">
          <div class="leading-relaxed">
            <span>{t("content.skins-alt")}</span>
          </div>
        </figcaption>
      </article>
    </div>
  </div>

  <div class="my-4 mx-0 text-2xl font-bold">
    <span>{t("content.support-us")}</span>
  </div>
  <div class="my-4">
    <article class="leading-relaxed">
      <ol class="pl-5">
        <li class="list-decimal">
          <strong class="font-dogicapixelbold text-base"
            >{t("content.donate-bold")}</strong
          >{t("content.donate")}
        </li>
      </ol>

      <div class="mb-4 mt-4 w-full">
        <div
          class={`px-[1%] py-[1%] sm:px-[2%] sm:py-[2%] border-2 ${themes[theme]["liberapay-border"]}  flex overflow-hidden rounded-2xl m-0 w-full`}
        >
          <div
            class="flex w-1/12 sm:w-2/12 ml-2 min-w-[3rem] m-auto sm:m-0 mx-0"
          >
            <div class="sm:w-1/2 w-full sm:m-auto">
              <svg
                class={`fill-current ${themes[theme]["liberapay-icon-bg"]} `}
                viewBox="0 0 24 24"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                ><title>Liberapay icon</title><path
                  d="M2.32 0A2.321 2.321 0 0 0 0 2.32v19.36A2.321 2.321 0 0 0 2.32 24h19.36A2.32 2.32 0 0 0 24 21.68V2.32A2.32 2.32 0 0 0 21.68 0zm9.208 3.98l-2.27 9.405a2.953 2.953 0 0 0-.073.539.853.853 0 0 0 .09.432.7.7 0 0 0 .334.302c.157.077.378.126.661.147l-.49 2.008c-.772 0-1.38-.1-1.82-.3-.441-.203-.757-.477-.947-.826a2.391 2.391 0 0 1-.278-1.2c.005-.452.068-.933.188-1.445l2.074-8.67zm3.9 3.888c.61 0 1.135.092 1.576.277.44.185.802.438 1.085.76.283.32.493.696.629 1.126.136.43.204.89.204 1.379v.001c0 .794-.13 1.52-.392 2.179a5.16 5.16 0 0 1-1.086 1.706 4.84 4.84 0 0 1-1.665 1.118c-.648.267-1.353.4-2.114.4-.37 0-.74-.033-1.11-.098l-.735 2.956H9.403l2.71-11.298c.435-.13.934-.248 1.494-.351a10.045 10.045 0 0 1 1.821-.155zm-.31 2.041a4.67 4.67 0 0 0-.98.098l-1.143 4.752c.185.044.413.065.685.065.425 0 .812-.079 1.16-.237a2.556 2.556 0 0 0 .89-.661c.244-.283.435-.623.571-1.02a4.03 4.03 0 0 0 .204-1.315c0-.468-.104-.865-.31-1.192-.207-.326-.566-.49-1.077-.49z"
                ></path></svg
              >
            </div>
            <div class="hidden sm:block sm:w-1/2 sm:m-auto">
              <div class="ml-[15%] flex sm:w-full">
                <img
                  src={logo.src}
                  alt="Our logo"
                  class="border-none w-full m-auto"
                />
              </div>
            </div>
          </div>
          <div class="flex flex-col my-auto ml-[3%] w-6/12">
            <div class="text-[100%]">A.E.S. - Minetest server</div>
          </div>

          <div
            class={`rounded-lg ${themes[theme]["bg-liberapay"]} min-w-[6rem] min-h-[3rem] flex justify-center m-auto py-[2%] px-[2%] sm:py-[1%] sm:px-[1%] mr-[3%]`}
          >
            <a
              href="https://liberapay.com/aes_minetest_server/donate"
              target="_blank"
              class="flex justify-center"
            >
              <div
                class={`text-center m-auto text-[100%] flex justify-center ${themes[theme]["text-on-yellow"]}`}
              >
                {t("content.donate-button")}
              </div>
            </a>
          </div>
          <div class="relative mr-[3%]">
            <div
              class={`absolute -z-10 aspect-square top-1/2 -translate-y-1/2 h-[190%] sm:h-[210%] lg:h-[220%] rounded-full  ${themes[theme]["bg-liberapay"]}`}
            >
            </div>
          </div>
          <div
            class={`flex text-[80%] min-w-[4rem] ${themes[theme]["text-on-yellow"]} mr-[3%]  sm:mr-[1%] flex-col justify-center w-1/12`}
          >
            <div class="text-2xl font-bold">
              {amount}
            </div>
            <div>{t("content.week")}</div>
          </div>
        </div>
      </div>
      <ol start="2" class="pl-5">
        <li class="list-decimal mt-4">
          <strong class="font-dogicapixelbold text-base"
            >{t("content.play-on-the-server-bold")}</strong
          >{t("content.play-on-the-server")}
        </li>
        <li class="list-decimal mt-4">
          <strong class="font-dogicapixelbold text-base"
            >{t("content.talk-about-us-to-friends-bold")}</strong
          >{t("content.talk-about-us-to-friends")}
        </li>
      </ol>
    </article>
  </div>
</div>
