---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { themes } from "../utils/themes.js";

const { t, lang, theme} = Astro.props;


---
<Layout title="Welcome to AES." theme={theme}>
  <Header t={t} lang={lang} theme={theme} />
  <div class="my-[19rem]">
    <div class="my-8">
      <div class="font-extrabold text-8xl">
        <p class="text-center">404</p>
      </div>
    </div>
    <div class="my-8">
      <div class="leading-relaxed text-center">
        <p>{t("404.description")}</p>
      </div>
    </div>
    <div class="my-8">
      <div
        class={`leading-relaxed text-center ${themes[theme]["text-footer"]}`}
      >
        <a class={` ${themes[theme]["link"]}`} href={"/"}>{t("404.homepage")}</a
        >
      </div>
    </div>
  </div>
  <Footer t={t} lang={lang} theme={theme} />
</Layout>
