---
const { t, theme, lang } = Astro.props;
import { themes } from "../utils/themes";
---

<div class="mb-4">
  <div
    class={`my-2 text-xs leading-4 text-center ${themes[theme]["text-footer"]}`}
  >
    <div class="leading-7">
      Made with ♥️ by <a
        href="https://gitlab.com/_Zaizen_/"
        target="_blank"
        class={` ${themes[theme]["link"]}`}>_Zaizen_</a
      >
    </div>
  </div>
  <div
    class={`my-2 text-xs leading-4 text-center ${themes[theme]["text-footer"]}`}
  >
    <div class="leading-7">
      <a
        href="https://gitlab.com/zughy-friends-minetest/a.e.s.-server-custom-mods/aes-website"
        target="_blank"
        class={` ${themes[theme]["link"]}`}>Source code</a
      >
       -
      <a href={"/"+ lang +  "/" + theme + "/privacy"}  class={` ${themes[theme]["link"]}`}
        >Privacy</a
      >
      -
       <a href="https://monitoring.aes.land" target="_blank"  class={` ${themes[theme]["link"]}`}
        >{t("footer.opendata")}</a
      >
    </div>
  </div>
</div>
