---
const { t, lang, theme } = Astro.props;
import { languages } from "../i18n/ui";
import logo from "../assets/logo.webp";
import { themes } from "../utils/themes";
---

<header class="flex mx-2 pt-3">
  <div class="w-14 my-auto">
    <a href="/" class=""><img src={logo.src} alt="Our logo" class="" /></a>
  </div>
  <div class="w-5"></div>
  <div class="my-auto"><p class="text-3xl font-extrabold">AES</p></div>
  <div class="m-auto"></div>
  <div class="w-5 my-auto">
    <a href={"/" + lang + "/" + (theme == "dark" ? "light" : "dark")}>
      <svg class="" width="100%" height="100%" viewBox="0 0 24 24">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentcolor"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </svg>
    </a>
  </div>
  <div class="w-2"></div>
  <div class="w-28 group my-auto flex hover:cursor-pointer">
    <label for="drop">
      <div class={`flex ${themes[theme]["text-secondary-hover"]}`}>
        <div class="mr-2 w-5">
          <svg width="100%" height="100%" class="" viewBox="0 0 24 24">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentcolor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path
                d="M12 2a15.3 15.3.0 014 10 15.3 15.3.0 01-4 10A15.3 15.3.0 018 12a15.3 15.3.0 014-10z"
              ></path>
            </svg>
          </svg>
        </div>
        <div class="w-20">{t("header.lang")}</div>
      </div>
    </label>
    <input type="checkbox" class=`hidden` id="drop" />

    <div class="group-hover:flex hidden flex-col items-center absolute w-32">
      <div
        class={`  shadow-xl ${themes[theme]["menu-background"]} text-xs text-left mt-6`}
      >
        {
          Object.entries(languages).map(([key, value]) => (
            <div class={`${themes[theme]["menu-background-hover"]} p-2`}>
              <a href={"/" + key + "/" + theme}>{value}</a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</header>
<style>
  [id^="drop"]:checked + ul {
    display: block;
  }
</style>
