---
import Layout from "../layouts/Layout.astro";
import Header from "./Header.astro";
import Content from "./Content.astro";
import Footer from "./Footer.astro";
const { t, lang, theme} = Astro.props;

---

<Layout title="Welcome to AES."  lang={lang} theme={theme} >
    <Header t={t} lang={lang} theme={theme}  />
    <Content t={t} lang={lang} theme={theme}  />
    <Footer t={t} lang={lang} theme={theme} />
</Layout>
