---
import Layout from "../layouts/Layout.astro";
import Header from "./Header.astro";
import Content from "./Content.astro";
import Footer from "./Footer.astro";
const { t, lang, theme} = Astro.props;

---

<Layout title="Welcome to AES." lang={lang} theme={theme}>
  <Header t={t} lang={lang} theme={theme} />
  <div class="my-8 mx-4 text-base">
    <div class="mb-6 text-3xl font-dogicapixelbold">In sintesi</div>
    <div class="my-3">A noi dei tuoi dati non frega nulla!</div>
    <div>
      Questo sito è estremamente leggero e pensato per minimizzare il
      trattamento di dati personali limitando il trattamento ai soli dati
      indispensabili al funzionamento del server web. Grazie a questa semplicità
      possiamo fare a meno di un avviso dei cookie.
    </div>
    <div class="text-3xl my-6 font-dogicapixelbold">
      Maggiori dettagli ed informazioni previste dal GDPR
    </div>
    <div>
      Il sito è gestito da Leonardo Canello in veste di Titolare del
      trattamento. Per qualsiasi chiarimento o per maggiori informazioni è
      possibile utilizzare il seguente recapito: leonardocanello@protonmail.com.
      Non è stato nominato un DPO (responsabile della protezione) in quanto
      questa figura non è applicabile al sito di AES e ai pochi trattamenti
      effettuati, tuttavia ne è stato consultato uno per definire gli adempimenti
      in materia di protezione dei dati personali.
    </div>
    <div class="my-3">
      Gli unici dati trattati sono quelli che il tuo dispositivo invia:
    </div>
    <div class="">
      <ul class="ml-6 list-disc grid gap-3">
        <li>
          L'indirizzo IP dal quale ti colleghi, il sistema operativo del tuo
          dispositivo, la data e l'ora della richiesta e i cookie tecnici se
          presenti e altri dati tecnici relativi alla connessione. Questi dati
          non sono utilizzati per generare statistiche di utilizzo e i registri
          sono impostati per cancellarsi automaticamente dopo 12 ore.
        </li><li>
          Se un utente decide di contattare il Titolare o di esercitare i propri
          diritti in materia di protezione dei dati personali, la corrispondenza
          intercorsa costituirà un nuovo trattamento, effettuato sia per dare
          riscontro all'utente che per documentare l'avvenuto riscontro. Questi
          dati saranno conservati sino a quando sarà necessario per la tutela
          legale del titolare del trattamento.
        </li>
      </ul>
    </div>
    <div class="my-3">
      Nessun dato viene condiviso con altri soggetti o trasferito in paesi
      terzi.
    </div>
    <div class="text-3xl font-dogicapixelbold my-6">Diritti</div>
    <div>
      I dati trattati per legittimo interesse non richiedono consenso ma ogni
      utente ha il diritto di opporsi a questi trattamenti. L'esercizio di
      questo diritto, tuttavia, sarà limitato dal fatto che i dati personali
      scompaiono immediatamente dopo la loro acquisizione o sono cancellati
      automaticamente in breve tempo.
    </div>
    <div class="my-3">
      Ogni utente di questo sito, in relazione ai propri dati personali, gode
      dei diritti previsti dal GDPR e può contattare il Titolare per accedere ai
      propri dati e ricevere la conferma di eventuali trattamenti, per chiedere
      la rettifica o l'aggiornamento dei dati trattati, per chiederne la
      cancellazione o la limitazione, per opporsi a trattamenti basati sul
      legittimo interesse e per esercitare ogni altro diritto previsto in
      materia di protezione dei dati personali.
    </div>
    <div>
      Ricordiamo che, ai sensi del Regolamento, l’interessato ha diritto:
    </div><div class="my-3">
      di chiedere l’accesso ai propri dati personali ai sensi dell’articolo 15
      del Regolamento, di chiedere la rettifica dei propri dati personali ai
      sensi dell’articolo 16 del Regolamento, di chiedere la cancellazione dei
      propri dati personali ai sensi dell’articolo 17 del Regolamento, di
      chiedere la limitazione del trattamento dei propri dati personali ai sensi
      dell’articolo 18 del Regolamento, alla portabilità dei propri dati
      personali ai sensi dell’articolo 20 del Regolamento, di opporsi al
      trattamento dei propri dati personali che sono trattati in base
      all’articolo 6, paragrafo 1, lettera f), del Regolamento ai sensi
      dell’articolo 21 del Regolamento, di proporre reclamo al Garante della
      Privacy italiano ai sensi dell’articolo 77 del Regolamento.
    </div>

    <div>
      Alcuni di questi diritti paiono poco appropriati ai trattamenti effetuati
      tramite questo sito e saranno oggetto di valutazione. Per maggiori
      dettagli sui propri diritti in materia di privacy, ogni visitatore può
      fare riferimento a questa pagina
      https://www.garanteprivacy.it/i-miei-diritti del sito del garante Privacy.
    </div>
  </div>
  <Footer t={t} lang={lang} theme={theme} />
</Layout>
