
 @font-face {
    font-family: "dogicapixel";
    src: url("/fonts/dogicapixel.ttf") format("truetype");
 }
  @font-face{
    font-family: "dogicapixelbold";
    src: url("/fonts/dogicapixelbold.ttf") format("truetype");
  }