---
const { title, theme, lang } = Astro.props;

import { themes } from "../utils/themes";

import logo from "../assets/logo.webp";

import "../global.css";
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={`m-0 ${themes[theme].bg}`}>
    <main
      class={`${themes[theme].text} font-dogicapixel 
      text-xs min-h-screen sm:w-full md:w-4/5 lg:w-3/5 xl:w-3/5 2xl:w-2/5 w-full mx-auto `}
    >
      <slot class="" />
    </main>
  </body>
</html>
